/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2018, 6:11:59 PM
    Author     : kaiwen
*/
table {  
    border: 2px #CCCCCC solid;  
    margin-top: 20px;
}  
   
td,th {  
    height: 30px;  
    border: #CCCCCC 1px solid;  
} 
input.form-control {
    width: 30%;
}
.container.jumbotron {
    margin-top: 200px;
}

